@model object
@using System.ComponentModel
@using WebApplication1.Controllers
@{
    ViewBag.Title = "ObjectAsViewModelTest";
}

<h2>ObjectAsViewModelTest</h2>

@{
    var type = Model.GetType();
    var properties = type.GetProperties();
}

<div>
    @type.FullName
</div>

<div>
    <dl class="dl-horizontal">
        @foreach (var property in properties)
        {
            var name = property.Name;
            var display = (property.GetCustomAttributes(true)
                .Where(a => a is DescriptionAttribute)
                .FirstOrDefault() as DescriptionAttribute)?.Description ?? name;

            var valueType = property.PropertyType;
            var valueTypeName = valueType.FullName;
            var value = property.GetValue(Model);

            <dt>
                <label for="__@(name)__">@display</label>
            </dt>

            <dd>
                @if (valueTypeName == typeof(bool).FullName)
                {
                    <input id="__@(name)__" name="@name" type="checkbox" value="@value" checked="@value" />
                }
                else if (valueTypeName == typeof(int).FullName)
                {
                    <input id="__@(name)__" name="@name" type="number" value="@value" />
                }
                else if (valueTypeName == typeof(DateTime).FullName)
                {
                    <input id="__@(name)__" name="@name" type="datetime-local" value="@value" />
                }
                else
                {
                    <input id="__@(name)__" name="@name" type="text" value="@value" />
                }
            </dd>
        }
    </dl>
</div>
